.p-todo-list {
  padding: 50px 20px 0;
  .m-form {
    margin-top: 40px;
    .form-body {
      width: 100%;
      label {
        display: block;
      }
      input {
        margin-top: 10px;
        width: 710px;
        height: 80px;
        padding: 0 20px;
        font-size: 30px;
        border: 2px solid #bfbfbf;
      }
      input:focus {
        border: 2px solid #595959;
      }
    }
    .form-bottom {
      width: 100%;
      margin-top: 10px;

      display: flex;
      justify-content: center;
      align-items: center;
      .u-button {
        width: 710px;
        height: 80px;
        font-size: 30px;
        background-color: rgb(26, 188, 156);
        color: #fff;

        border: none;
      }
    }
  }
  .c-todo-item {
    h2 {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 40px;
    }
    .li-item {
      margin-top: 10px;
      font-size: 30px;
    }
  }
}
