<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <!--第一步：引入vue.js-->
    <link rel="stylesheet" type="text/css" href="./asserts/vue/iview.css">
    <script type="text/javascript" src="./asserts/vue/vue.min.js"></script>
    <script type="text/javascript" src="./asserts/vue/iview.min.js"></script>
</head>

<body>
    <!--第二步：创建模板-->
    <div id="app">
        <div id="main-body">
            <!-- <div>
                <row>
                    <i-col span="8">
                        <i-input v-model="value_a" placeholder="Enter something..." style="width: 300px" />
                    </i-col>
                    <i-col span="8">
                        <i-input v-model="value_b" placeholder="Enter something..." style="width: 300px" />
                    </i-col>
                </row>
                <br>
                <p>
                    {{test}}
                </p>
                <p>
                    {{value_c}}
                </p>
                <row>
                    <i-button type="primary" @click='test2' style="width:100px;">新增</i-button>
                </row>

            </div> -->
            <input v-model="value_a">
            <input v-model="value_b">
            <p>
                {{test}}
            </p>
            <p>
                {{value_c}}
            </p>
            <button type="primary" @click='test2' style="width:100px;">新增</i-button>
        </div>

    </div>
</body>
<!--第三步：创建vue对象-->
<script>
    new Vue({
        //边界管理
        el: '#app',
        //data 存放数据
        data: {
            name: 'gyh',
            value_a: '',
            value_b: '',
            value_c: '',
        },
        methods: {
            test2: function () {
                this.value_c = this.value_b + this.value_a
            }
        },
        computed: {
            test: function () {
                var c = this.value_a + this.value_b
                return c;
            }
        }
    })
</script>
<style>
    #app {
        padding: 30px;
    }
</style>

</html>